body {
  padding: 80px 0 0 0;
  background-color: #edf0f1;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  overflow: auto;
}

#app {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
