.header {
  width: 100%;
  height: 20%;

  position: fixed;
  padding: 35px;
  top: 0;
  left: 0;
  z-index: 5;

  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header .voltar {
  color: black;
  font-weight: bold;
}

.header .title {
  text-align: center;
  color: white;
  font-weight: bold;
  position: relative;
  bottom: 15px;
}

.form input {
  width: 100%;
  height: 50px;
  float: center;
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px 25px 25px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: none;
  outline: none;
}

.form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-weight: lighter;
}

.form button {
  width: 48px;
  height: 48px;

  position: absolute;
  top: 125px;
  right: 36px;
  z-index: 2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.form button svg {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 15%;
  left: 15%;

  margin: -8px 0 0 -8px;
}

.table {
  width: 100%;
  float: left;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 550px;
  display: block;
  max-width: 300;
  margin-left: 20;
}

.table .sub0 {
  width: 100%;
  float: left;
}

.sub0 .sub1 {
  width: 100%;
  float: left;
}

.sub0 .sub2 {
  width: 50%;
  float: left;
  cursor: pointer;
}

.sub1 .sub2 .all {
  width: 25%;
  float: left;
}

.sub1 .sub2 .active {
  width: 38%;
  float: left;
}

.sub1 .sub2 .completed {
  width: 30%;
  float: left;
}

.sub0 .sub3 {
  width: 17%;
  float: right;
}

.sub1 .sub3 .tasks {
  width: 50%;
  float: left;
}

.sub1 .sub3 .actions {
  width: 50%;
  float: right;
}

.table .theList {
  width: 100%;
  float: left;
}

.listItems {
  width: 100%;
  float: left;
}

.listItems .items {
  width: 82.9%;
  min-height: 50px;
  float: left;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  color: #444;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.1);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

.listItems .items:last-of-type {
  margin: 0;
}

.listItems .items .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.listItems .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  bottom: 6px;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.listItems .buttons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

.listItems .buttons button:last-of-type:before {
  content: "";
  width: 1px;
  height: 30px;
  background: #fff;

  position: absolute;
  top: 10px;
  left: 0;
}

.editForm input {
  color: #333;
  background-color: rgba(204, 204, 204, 0.589);
  padding: 15px;
  width: 250px;
  position: relative;
  left: 120px;
  top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

.item .editButtons {
  width: 140px;
  height: 50px;

  position: absolute;
  top: 150px;
  right: 150px;
}

.editButtons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  bottom: 4px;
  left: 300px;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.editButtons button svg {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
}

.editButtons button:last-of-type:before {
  content: "";
  width: 1px;
  height: 30px;
  background: #fff;

  position: absolute;
  top: 10px;
  left: 0;
}

.footer {
  width: 100%;
  float: left;
}

.subLast {
  width: 100%;
  float: left;
}

.clearAll {
  width: 21%;
  float: right;
}

.clearAll a {
  cursor: pointer;
  color: green;
}